@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome</h3>

<p>Welcome to Clonestsagram</p>
<p>
    This is Clonestagram a Site to post anything you like without limitations
</p>
<p>NO FILTER!</p>
<p>NO SHIT!</p>
<p>
    We're extremely happy to accompanying you on this journey and we will make our best to make this experiance as good as it can be.
    This is the only place where you can post any shit that goes through your Mind
</p>
<p>Tank you for choosing us! Keep postig without limits</p>
