@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Clonestagram!</h1>
    <p class="lead">The application to post your posts</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Please Login to get started with the unique experiance of clonestagram
        </p>
        <p><a href="/Account/Login" class="btn btn-default" >Log in to begin!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Please visait our Conact site to write our support an email</p>
        <p><a href="/Home/Contact" class="btn btn-default">I need help!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more about as</h2>
        <p>Here is the way to go if you're wondering what all this shit here is.</p>
        <p><a href="/Home/About" class="btn btn-default">Go on!</a></p>
    </div>
</div>